html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    .header {
        padding: 12px 16px;
        border-bottom: 1px solid #ccc;
    }

    .body {
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 0;
    }

    .footer {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        align-content: center;
        padding: 12px 16px;
        border-top: 1px solid #ccc;

        .secret {
            cursor: pointer;
            line-height: 32px;
            color: transparent;
            user-select: none;
            font-style: italic;

            &:hover {
                color: #ccc;
            }
        }
    }
}